# Configurações do Serviço HTTP
PORT=3001
HOST=0.0.0.0
API_KEY=sua_chave_secreta_aqui_pcm_2026

# Nota: As credenciais do banco Oracle residem em 'oracleDb secret/.env'
# DB_USER=
# DB_PASS=
# DB_DSN=
